body {
    margin: auto;
    padding: 0%;
    text-align: center;
    background-color: gray;
    font-family: "D2Coding";
    display: inline-block;
    width: 150px;
  }
  .article {
    text-align: left;
    border: 5px solid black;
  }
  